.post-background {
    -fx-background-color: #fff;
    /*-fx-background-color: #d1deec;*/

    -fx-background-radius: 15;
    -fx-effect: dropShadow(three-pas-box, rgba(0, 0, 0, 0.1), 5.0, 0.0, 0.0, 5.0);
}
.header-background {
    -fx-background-color: linear-gradient( to right, #f64f59, #c471ed, #12c2e9 );;
}
.reactions-container {
    -fx-background-color: #F0F2F5;
    -fx-background-radius: 50;
    -fx-effect: dropShadow(three-pas-box, rgba(0, 0, 0, 0.1), 5.0, 0.0, 0.0, 5.0);
    -fx-border-radius: 50;
    -fx-border-width: 1;
    -fx-border-color: #B8B9BB;

}
.hbox-right:hover {
    -fx-background-color: #00b4fc;
}
.hbox-left:hover {
    -fx-background-color: #00b4fc;
}
.top-border {
    -fx-border-width: 1 0 0 0;
    -fx-background-color: #606266;
}
.round-icon {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
}
.round-button {
    -fx-background-color: #F0F2F5;
    -fx-background-radius: 50;
}
.round-avt {
    -fx-background-radius: 50;
}
.white-background {
    -fx-background-color: #fff;
    /*-fx-background: linear-gradient(to right, rgb(246, 79, 89), rgb(196, 113, 237), rgb(18, 194, 233));*/
}
.header-icon {
}
.body {
    /*-fx-background-color: #f0f2f5;*/
    -fx-background-color: #eff5ff;

}
.text_filed {
    -fx-background-color: #F0F2F5;
    -fx-background-radius: 50;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
/* styles.css */

.message-dialog {
    -fx-background-color: #2e2e2e;
}

.message-header {
    -fx-background-color: #1e90ff;
    -fx-text-fill: white;
    -fx-font-size: 16pt;
}

.message-content {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #333333;
    -fx-font-size: 14pt;
}

.message-button {
    -fx-background-color: #1e90ff;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
}

.message-button:hover {
    -fx-background-color: #0070e0;
}
